body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

button {
  padding: 10px 16px;
  border: none;
  background: #1976d2;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

select {
  padding: 8px;
  margin-right: 10px;
}


.card h2 {
  margin-bottom: 10px;
}

.card ul {
  padding-left: 20px;
}